body {
    background-color: rgb(240, 212, 185);
    font-size: 20px;
    color:rgb(17, 12, 3); 
    text-align: center;
    font-style: oblique;
    font-family: cursive;
    max-width: 100%;

}
h1 {
    margin-bottom: 20px;
    font-style:italic;
    font-size: 40px;
    font-weight: bold;
    background-color: rgb(121, 186, 236);
}
p{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}
h3 {
    font-size: 30px;
}
nav {
    color: cadetblue;
    width: auto;
    height: auto;
    border-color: rgb(13, 13, 13);
    border-width: 10px;
    background-color: cornsilk;
    border: black;
    

}
.img {
    height: 40%;
    width: 40%;
}
.picture1 {
    max-width: 1000px;
    max-height: 400px;
}