body {
    background-color: rgb(240, 212, 185);
    font-size: 20px;
    color:rgb(17, 12, 3); 
    text-align: center;
    font-style: oblique;
    font-family: cursive;
    max-width: 100%;

}
h2 {
    font-weight: bold;
}
h1 {
    background-color: rgb(240, 212, 185);
    margin-bottom: 20px;
    font-style:italic;
    font-size: 40px;
    font-weight: bold;
    background-color: rgb(121, 186, 236);
}
p{
    background-color: rgb(240, 212, 185);
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}
h3 {
    background-color: rgb(240, 212, 185);
    font-size: 20px;
    font-weight: bold;
}
nav {
    background-color: #f2b04e;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    width: auto;
    height: auto;
    border-radius: 10px;
    border-color: rgb(13, 13, 13);
    border-width: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border: black;
    margin: 10px;
    
    

}
img {
    height: auto;
    max-width: 100%;
}
li {
    text-align: left;
}
